<!-- templates/attendance_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container attendance-table mt-5">
    <h1 class="header-text text-center">Class Attendance</h1>
    <a href="{% url 'add_attendance' %}" class="btn btn-primary mb-3">Add Attendance</a>
    <table class="table table-bordered table-striped">
        <thead class="table-header">
            <tr>
                <th>Class Name</th>
                <th>Member Name</th>
                <th>Attendance Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.class_name.name }}</td>
                <td>{{ attendance.member.username }}</td>
                <td>{{ attendance.attendance_date }}</td>
                <td>{{ attendance.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
